.about {
  width: 100%;
  overflow: hidden;
}
.topics {
  font-size: 65px;
  padding: 16px 16px;
  text-transform: uppercase;
  color: gray;
  left: 50%;
}
.about-cont {
  color: rgb(175, 174, 174);
}
@media screen and (max-width: 1024px) {
  .about-infos {
    transform: translateX(20px);
  }
}
@media screen and (max-width: 768px) {
  .about-infos {
    display: block;
    transform: translateX(20px);
    font-size: 26px;
    width: 450px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgb(51, 51, 51), 0 6px 20px 0 rgb(2, 2, 2);
  }
}
