body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(46, 45, 45);
}
body {
  overflow-y: hidden;
}
nav {
  background-color: rgb(32, 32, 32);
  letter-spacing: 1px;
}
.name > a {
  text-decoration: none;
  color: rgb(194, 191, 191);
}
.name {
  font-size: 25px;
}
.navbar-menu {
  text-transform: uppercase;
}
/*section1 css starts*/
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front .text1 {
  font-size: 40px;
  color: rgb(250, 250, 209);
}
.front a {
  text-decoration: none;
  color: wheat;
}
.front .yogisha {
  color: salmon;
}
.hello-part {
  font-size: 95px;
}
.front .web-part {
  font-size: 4vw;
  color: gray;
}
