.skill {
  width: 100%;
}
.skill-info {
  font-size: 26px;
  color: rgb(175, 174, 174);
  display: flex;
  justify-content: center;
}
.skill-names {
  color: rgb(175, 174, 174);
  text-transform: uppercase;
  line-height: 2.5em;
  font-size: 35px;
  display: flex;
  justify-content: center;
}
