body {
  overflow-x: hidden;
}
.workfiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  padding: 40px;
}
.project-files {
  background-color: rgb(51, 49, 49);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
}
.workfiles a {
  text-decoration: none;
  color: rgb(228, 228, 195);
}
.project-files img {
  display: block;
  height: calc(100%-6.8rem);
  width: 100%;
  object-fit: cover;
}
.project-title {
  font-size: 30px;
  padding: 8px 8px;
  text-align: center;
  color: rgb(228, 228, 195);
}
.workfiles a :hover {
  color: rgb(253, 72, 72);
}
